@charset "UTF-8";

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
}

img {
  width: 100%;
  vertical-align: top;
}

section {
  background-color: #fcfaf3;
}

/* .inner{ width: 1180px; margin:0 auto} */
.headline {
  position: relative;
  padding: 30px 0 0 30px;
}

.headline p {
  font-size: 30px;
}

.headline p::after {
  position: absolute;
  top: 74%;
  left: 15%;
  content: '';
  border-bottom: 1px solid;
  width: 80%;
}

/* common */
#container {
  width: 100%;
  color: #282552;
}

/* cover */
.cover {
  position: relative;
}

.cover .headline {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: 50px 30px 0 0;
  margin: 0 auto;
}

.cover .headline h2 {
  font-size: 30px;
}

.cover .headline h2::after {
  position: absolute;
  top: 75%;
  left: 10%;
  content: '';
  border-bottom: 1px solid;
  width: 77%;
}

.cover .portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  height: auto;
}

.cover .portfolio p {
  font-size: 100px;
  text-align: center;
}

.cover .portfolio p:first-child {
  font-weight: 100;
}

.cover .portfolio p:nth-child(2) {
  font-weight: 400;
}

.cover .portfolio p:nth-child(3) {
  font-weight: 550;
}

.cover .lastline {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  padding-top: 100px;
}

.lastline p {
  padding: 0 0 40px 40px;
  font-size: 19px;
}

.lastline p::after {
  position: absolute;
  top: 67%;
  left: 34%;
  content: '';
  border-bottom: 1px solid;
  width: 57%;
}

/* resume */
.resume {
  position: relative
}

.resume .headline {
  position: relative;
  padding: 30px 0 0 30px;
}

.resume .headline p {
  font-size: 30px;
}

.resume .headline p::after {
  position: absolute;
  top: 77%;
  left: 13%;
  content: '';
  border-bottom: 1px solid #282552;
  width: 75%;
}

.resume .conts {
  color: #282552;
  display: flex;
  padding: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-around;
}

/* part1 */
.resume .conts .part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  padding: 0 30px 0 0;
  flex: 0.7;
  padding-right: 100px;
}

.resume .conts .part1 .infor {
  width: 140px;
  height: 180px;
}

.resume .conts .part1 .naming {
  padding-top: 50px;
  padding-bottom: 70px;
}

.resume .conts .part1 .naming h3 {
  padding-bottom: 20px;
}

.resume .conts .part1 .ct_point h3 {
  padding-bottom: 20px;
}

.resume .conts .part1 .ct_point p:nth-child(2) {
  letter-spacing: 0.3px;
  padding-bottom: 10px;
}

.resume .conts .part1 .ct_point p:nth-child(3) {
  letter-spacing: 0.3px;
}

.resume .conts .part1 .ct_point span {
  font-weight: bold;
}

/* part2 */
.resume .conts .part2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  white-space: nowrap;
  line-height: 1.5;
  flex: 0.7;
  padding-right: 100px;
}


.resume .conts .part2 h3 {
  padding-bottom: 10px;
}

.resume .conts .part2 p {
  letter-spacing: 0.3px;
}

.resume .conts .part2 .graduation,
.resume .conts .part2 .education {
  padding-bottom: 100px;
}

/* part3 */
.resume .conts .part3 {
  flex: 0.7;

}

.resume .conts .part3 h3 {
  padding-bottom: 20px;
}

.resume .conts .part3 .skills img {
  width: 4vw;
  padding-bottom: 20px;
  padding-right: 30px;
}

.resume .conts .part3 .skills p {
  letter-spacing: 0.3px;
  line-height: 1.5;
  padding-bottom: 20px;
  width: 21vw;
}

/* aboutMe */
.aboutMe {
  position: relative;
}

.aboutMe .aboutMe_conts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

.aboutMe .aboutMe_conts h3 {
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.6px;
}

.aboutMe .aboutMe_conts h3:nth-child(2) {
  padding: 0 0 100px 0;
}

.aboutMe .aboutMe_conts h4 {
  padding: 0 0 20px 0;
  font-size: 19px;
  letter-spacing: 0.5px;
}

.aboutMe .aboutMe_conts>p {
  padding: 0 0 20px 0;
  font-size: 17px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.aboutMe .aboutMe_conts>p:nth-child(4) {
  padding: 0 0 80px 0;
}

/* contents */
.contents {
  position: relative;
}

.contents .contents_conts {
  width: 90%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contents .contents_conts .cont1 p {
  font-size: 50px;
  font-weight: 100;
}

.contents .contents_conts .cont1 p:nth-child(2) {
  font-weight: 400;
}

.contents .contents_conts .cont1 p:nth-child(3) {
  font-weight: 550;
}

.contents .contents_conts .cont2 .cont_yes24 {
  padding-bottom: 50px;
}

.contents .contents_conts .cont2 .cont_yes24 p {
  font-size: 30px;
  white-space: nowrap;
}

.contents .contents_conts .cont2 p span {
  color: rgb(237, 142, 59);
}

.contents .contents_conts .cont2 .cont_volkswagen p {
  font-size: 30px;
  white-space: nowrap;
}

/* yes24 */
.yes24 {
  position: relative;
}

.yes24 .yes24_box {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.yes24 .yes24_box .yes24_lt {
  flex: 0.2;
}

.yes24 .yes24_box .yes24_rt {
  flex: 0.3;
}

.yes24 .yes24_box .yes24_mockUp {
  flex: 0.3
}

.yes24 .yes24_box .yes24_mockUp img {
  /* width: 20vw; */
}

.yes24 .yes24_box .yes24_lt p:first-child {
  padding-bottom: 30px;
}

.yes24 .yes24_box .yes24_lt p:last-child {
  text-decoration: underline;
}

.yes24 .yes24_box .yes24_lt p {
  white-space: nowrap;
}

.yes24 .yes24_box .yes24_lt .point {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.yes24 .yes24_box .yes24_lt span {
  font-size: 18px;
  font-weight: bold;
}

.yes24 .yes24_box .yes24_lt .word_normal {
  padding-bottom: 50px;
  letter-spacing: 0.5px;
}

.yes24 .yes24_box .yes24_rt p {
  padding-bottom: 40px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* yes24_summary */
.yes24_summary {
  position: relative;
}

.yes24_summary .summary_box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yes24_summary .summary_box h4 {
  font-size: 21px;
  padding: 0 0 10px 0;
}

.yes24_summary .summary_box p {
  line-height: 1.4;
}

.yes24_summary .summary_box .sb_cont1 p:nth-child(2),
.yes24_summary .summary_box .sb_cont1 p:nth-child(4),
.yes24_summary .summary_box .sb_cont2 p:nth-child(3) {
  padding: 0 0 40px 0;
}

.yes24_summary .summary_box .sb_cont1,
.yes24_summary .summary_box .sb_cont2,
.yes24_summary .summary_box .sb_cont3 {
  flex: 0.25;
}

.yes24_summary .summary_box .sb_cont3 {
  position: relative;
}

.yes24_summary .summary_box .sb_cont3 .color_code {
  position: absolute;
  top: 70%;
  left: 0%;
}

/* detail1_yes24 */
.detail1_yes24 {
  position: relative;
}

.detail1_yes24 .db_y24 {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.detail1_yes24 .db_y24 .db_y24_img {
  flex: 0.1;
}

.detail1_yes24 .db_y24 .comment {
  flex: 0.23;
}

.detail1_yes24 .db_y24 .comment p {
  padding-bottom: 30px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

/* detail2_y24 */
.detail2_yes24 {
  position: relative;
}

.detail2_yes24 .db2_y24 {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 80px;
}

.detail2_yes24 .db2_y24 .db2_box1 {
  flex: 0.02;
}

.detail2_yes24 .db2_y24 .db2_box2 {
  flex: 0.3;
}

.detail2_yes24 .db2_y24 .db2_box2 p {
  padding-bottom: 50px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* volkswagen */
.volkswagen {
  position: relative;
}

.volkswagen .volkswagen_ep {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.volkswagen .volkswagen_ep .volkswagen_lt {
  flex: 0.2;
}

.volkswagen .volkswagen_ep .volkswagen_rt {
  flex: 0.3;
}

.volkswagen .volkswagen_ep .volkswagen_mockUp {
  flex: 0.3;
}

.volkswagen .volkswagen_ep .volkswagen_mockUp img {}

.volkswagen .volkswagen_ep .volkswagen_lt p:first-child {
  padding-bottom: 30px;
}

.volkswagen .volkswagen_ep .volkswagen_lt p:last-child {
  text-decoration: underline;
}

.volkswagen .volkswagen_ep .volkswagen_lt p {
  white-space: nowrap;
}

.volkswagen .volkswagen_ep .volkswagen_lt .point {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}

.volkswagen .volkswagen_ep .volkswagen_lt span {
  font-size: 18px;
  font-weight: bold;
}

.volkswagen .volkswagen_ep .volkswagen_lt .word_normal {
  padding-bottom: 50px;
  letter-spacing: 0.5px;
}

.volkswagen .volkswagen_ep .volkswagen_rt p {
  padding-bottom: 40px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

/* volkswagen summary */
.volkswagen_summary {
  position: relative;
}

.volkswagen_summary .summary_box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.volkswagen_summary .summary_box h4 {
  font-size: 21px;
  padding: 0 0 10px 0;
}

.volkswagen_summary .summary_box p {
  line-height: 1.4;
}

.vw_summary_box1 p:nth-child(2),
.vw_summary_box1 p:nth-child(4),
.vw_summary_box2 p:nth-child(3) {
  padding: 0 0 40px 0;
}

.vw_summary_box1,
.vw_summary_box2,
.vw_summary_box3 {
  flex: 0.25;
}

.vw_summary_box3 {
  position: relative;
}

.vw_summary_box3 .color_code {
  position: absolute;
  top: 70%;
  left: 0%;
}

.vw_summary_box3 .color_number {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 260%;
  left: 18%;
}

.vw_summary .color_number p {
  padding-right: 30px;
}

.vw_summary .color_number p:nth-child(3) {
  padding-right: 20px;
}

/* vw_detail */
.volkswagen_detail {
  position: relative;
}

.volkswagen_detail .vw_detail_box {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volkswagen_detail .vw_detail_box .vw_detail_lt {
  flex: 0.15;
}

.volkswagen_detail .vw_detail_box .vw_detail_rt {
  flex: 0.23;
}

.volkswagen_detail .vw_detail_box .vw_detail_rt p {
  line-height: 1.2;
  letter-spacing: 0.2px;
  padding-bottom: 42px;
}

.section {
  padding: 0 20px;
}