@charset "UTF-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
$main: #1c1c1c;
$active_dot: #918c00;
a {
    text-decoration: none;
    color: $main;
}
img {
    width: 100%;
    vertical-align: middle;
}
.inner {
    width: 1100px;
    margin: 0 auto;
}
section {
    margin-top: 100px;
}
.mainHeadMenuArea {
    .inner {
        display: flex; 
        align-items: center;
        justify-content: space-between;
        height: 65px;
    }
    &.active {
        position: fixed;
        top: -0;
        left: 0;
        width: 100%;
        min-width: 1200px;
        border-bottom: 1px solid #dcdcdc;
        background: #fff;
        z-index: 99;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
}
.menu {
    text-align: right;
    justify-content: flex-end;
    > li {
        position: relative;
        display: inline-block;
        line-height: 45px;
        font-size: 14px;
        margin-left: 30px;
        &:last-child:hover .customer_wrap {
            display: block;
        }
        .customer_wrap {
            display: none;
            position: absolute;
            right: 0;
            top: 40px;
            padding: 0 10px;
            width: 105px;
            border: 1px solid #ccc;
            text-align: left;
            box-sizing: border-box;
            background: #fff;
            z-index: 1;
            li {
                line-height: 1;
                a {
                    display: block;
                    margin: 10px 0;
                    font-size: 13px;
                    &:hover {
                        color: #918c00;
                    }
                }
            }
        }
        &:not(:nth-child(1))::after {
            position: absolute;
            left: -15px;
            top: 50%;
            margin-top: -7.5px;
            width: 1px;
            height: 15px;
            background: #888;
            content: '';
        }
        i {
            display: inline-block;
            position: relative;
            width: 10px;
            height: 2px;
            vertical-align: middle;
            &::after {
                position: absolute;
                top: -2px;
                right: 0px;
                width: 0;
                height: 0;
                content: '';
                border: 4px solid transparent;
                border-color: $main transparent transparent transparent;
            }
        }
    }
}
.mainMid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin: 25px 39px 25px 0;
    font-size: 0;
}
.choice {
    display: flex;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background: #eaeaea;
    a {
        position: relative;
        width: 50%;
        line-height: 50px;
        font-size: 20px;
        color: #929292;
        text-align: center;
        &.on {
            width: 55%;
            font-weight: bold;
            color: #fff;
            background: #918c00;
            border-radius: 25px;
        }
    }
}
nav {
    display: flex;
    position: relative;
    align-items: center;
}
.search {
    position: relative;
    margin-right: 22px;
    width: 390px;
    height: 55px;
    line-height: 55px;
    vertical-align: bottom;
    border: 1px solid #b2ac00;
    border-radius: 15px;
    text-indent: 20px;
    text-align: left;
    box-sizing: border-box;
    input {
        line-height: 30px;
        width: 70%;
        border: 0;
        font-size: 18px;
        background: transparent;
        outline: none;
    }
}
.search_btn {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    font-size: 0;
    background: url('../img/icon_header_search.png') no-repeat center;
}
.cart {
    position: relative;
    margin: -2px 0 0 23px;
    vertical-align: bottom;
}
.deliver {
    width: 142px;
    border: 1px solid #b1a8a8;
    border-radius: 14px;
    text-align: center;
    padding: 6px 0px;
    font-size: 14px;
}
.catagory { 
    position: relative;
    &.active {
        .all_menu_wrap{
            display: block;
        }
        button::after {
            display: block;
        }
        .ham_icon span {
            background: #918c00;
            &:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
    button {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 4;
        &::after {
            display: none;
            position: absolute;
            left: -40px;
            bottom: -23px;
            width: 189px;
            height: 65px;
            border-top: 2px solid #1c1c1c;
            border-right: 2px solid #1c1c1c;
            border-left: 2px solid #1c1c1c;
            background: #fff;
            z-index: -1;
            content: "";
        }
        .ham_icon {
            span {
                display: block;
                width: 25px;
                height: 2px;
                background-color: $main;
                margin-right: 15px;
                margin-bottom: 5px;
                transition: 0.5s;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .all_menu_wrap {
        display: none;
        position: absolute;
        left: -40px;
        top: 44px;
        width: 1180px;
        background: #fff;
        box-sizing: border-box;
        z-index: 3;
        .menu_inner {
            position: relative;
            padding: 40px 50px 40px 0;
            border: 2px solid #1c1c1c;
            .menu_depth1 {
                display: flex;
                > li {
                    width: 20%;
                    > a {
                        display: block;
                        margin: 0 10px 10px 60px;
                        padding-bottom: 8px;
                        font-size: 21px;
                        font-weight: 600;
                        border-bottom: 2px solid #1c1c1c;
                    }
                    .menu_depth2 {
                        > li {
                            padding: 0 20px 0 60px;
                            &:hover {
                                background: #f5f5f5;
                                .menu_depth3 {
                                    display: block;
                                    > a {
                                        color: #918c00;
                                    }
                                }
                                > a {
                                    display: block;
                                    color: #918c00;
                                }
                            }
                            > a {
                                display: block;
                                padding: 8px 0;
                                line-height: 1.3;
                                font-size: 18px;
                            }
                            .menu_depth3 {
                                display: none;
                                position: absolute;
                                left: calc(20% - 10px);
                                top: 0;
                                width: 18.5%;
                                height: 100%;
                                padding: 41px 30px 30px;
                                box-sizing: border-box;
                                background: #f5f5f5;
                                border-left: 0;
                                > span {
                                    display: block;
                                    padding-bottom: 8px;
                                    font-size: 20px;
                                    font-weight: bold;
                                    border-bottom: 2px solid #1c1c1c;
                                }
                                li {
                                    margin: 20px 0;
                                    > a {
                                        display: inline-block;
                                        position: relative;
                                        font-size: 18px;
                                        word-break: keep-all;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.main_tab {
    font-size: 20px;
    white-space: nowrap;
}
.gnb {
    display: flex;
    justify-content: space-between;
    width: 84%;
    a {
        font-size: 20px;
    }
}
.main_banner_wrap {
    position: relative;
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    &:hover .arrow{
        visibility: visible;
        opacity: 1;
    }
}
.arrow {
    position: absolute;
    top: 50%;
    width: 55px;
    height: 55px;
    font-size: 0;
    visibility: hidden;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    transition: all .5s;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    &.left {
        left: 12%;
    }
    &.right {
        right: 12%;
    }
    &::after {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid #fff;
        content: '';
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &.left::after {
        margin-left: 5px;
        border-width: 0 0 2px 2px;
    }
    &.right::after {
        margin-left: -5px;
        border-width: 2px 2px 0 0;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
/* part1 */
.topic {
    opacity: 0;
    display: block;
    margin-bottom: 6px;
    font-size: 21px;
    color: #888;
    &.fadein {
        animation: fadeInUp 0.9s both 0.6s cubic-bezier(0.22, 0.61, 0.87, 1.27);
    }
}
.article_wrap {
    opacity: 0;
    display: flex;
    &.fadein { 
        animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
    }
}
.recommand {
    opacity: 0;
    position: relative;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    &.fadein {
        animation: fadeInUp 0.9s both 0.9s cubic-bezier(0.22, 0.61, 0.87, 1.27);
    }
    strong {
        transition: 0.5s;
    }
    strong:hover {
        color: #918c00;
    }
}
.ico_sale {
    display: inline-block;
    margin-top: 0;
    padding: 4px 7px;
    font-size: 15px;
    font-style: inherit;
    background: #f83737;
    color: #fff;
    border: 2px solid #1c1c1c;
    border-radius: 30px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: saleMotion 0.4s ease-out 0s infinite alternate;
}
@keyframes saleMotion {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: 7px;
    }
}
.ico_arrow {
    display: inline-block;
    margin: 6px 0 0 5px;
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 0;
    text-indent: -999em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    vertical-align: top;
    &::before {
        display: inline-block;
        margin: 2px 0 0 -2px;
        width: 6px;
        height: 6px;
        vertical-align: middle;
        border: solid #1c1c1c;
        border-width: 2px 2px 0 0;
        content: '';
        transform: rotate(45deg);
    }
}
.now-top {
    // width: 530px;
}
.item-area {
    // width: 570px;
    height: 670px;
    // overflow: hidden;
}
.item_list {
    height: 670px;
    .swiper-wrapper {
        transition-timing-function: linear;
    }
    .swiper-pagination-bullets.item_list_nav1 {
        display: flex;
        left: 20px;
        top: 96%;
        span {
            width: 10px;
            height: 10px;
            margin-right: 10px;
            border-radius: 5px;
        }
        .swiper-pagination-bullet-active {
            width: 25px;
            background: $active_dot;
        }
    }
}
.slide_inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.img_wrap {
    overflow: hidden;
    // width: 200px;
    // height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    &.img_wrap_L {
        // width: 100%;
        // height: 500px;
        img {
            width: 530px;
        }
    }
    &:hover img {
        transform: scale(1.2);
    }
    img {
        transition: all 0.8s;
    }
}
.explain {
    margin: 15px 0 10px;
    white-space: nowrap;
    &.rt {
        margin: 0 0 10px;
        span:nth-child(2) {
            margin-top: 2px;
        }
    }
    span:nth-child(1) {
        font-size: 20px;
        display: block;
        max-height: 24px;
        font-size: 18px;
        color: #999;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span:nth-child(2) {
        margin-top: 5px;
        font-size: 23px;
        display: block;
        max-height: 60px;
        line-height: 1.3;
        font-size: 21px;
        font-weight: 700;
        -webkit-box-orient: vertical;
        display: block;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-line-clamp: 2;
    }
}
.ex_wrap {
    padding-left: 20px;
}
.box_list_info {
    position: relative;
}
.price_wrap {
    display: block;
    min-height: 41px;
    font-size: 16px;
}
.discount_per {
    margin-right: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #ea1111;
}
.none_price {
    font-size: 24px;
    strong {
        font-size: 30px;
    }
}
.discount_price {
    font-size: 21px;
    margin: 0px 0 5px 10px;
    color: #999;
    &.db {
        display: block;
        margin: 0 0 5px 0;
    }
}
.box_list_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    button {
        font-size: 0;
        &::before {
            display: block;
            margin: 0 auto;
            width: 56px;
            height: 56px;
            background: url('../img/icon_item_btn.png') no-repeat;
            border: 1px solid #efefef;
            border-radius: 50%;
            box-sizing: border-box;
            content: '';
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
        }
        &:nth-child(1) {
            margin-right: 10px;
            &::before {
                background-position-x: 0px;
            }
        }
        &:nth-child(2)::before {
            background-position-x: -56px;
        }
    }
}
/* mid_banner */
.mid_banner {
    .mid_banner_slide_wrap {
        opacity: 0;
        &.fadein {
            animation: fadeInUp 0.9s both 0.6s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
        .swiper-pagination-bullets.mid_banner_nav {
            span {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                margin: 0 10px 0 0;
            }
            .swiper-pagination-bullet-active {
                width: 25px;
                background: $active_dot;
            }
        }
    }
}
/* part2 */
.part2 {
    .article_wrap {
        flex-wrap: wrap;
        justify-content: space-between;
        > a {
            width: calc((100% / 4) - 15px);
            &:nth-child(n+5) {
                margin-top: 60px;
            }
            figure {
                overflow: hidden;
                &:hover img {
                    transform: scale(1.2);
                }
                img {
                    transition: 0.5s;
                }
            }
        }
        .box_list_btn {
            position: static;
            margin-top: 10px;
        }
    }
}
.ico_cook {
    display: inline-block;
}
/* part3 */
.part3 {
    .early_choice {
        display: flex;
        margin: 0 0 30px;
        gap: 10px;
        &.fadein {
            animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
        li {
            display: block;
            padding: 15px 20px;
            font-size: 18px;
            color: #1c1c1c;
            border-radius: 25px;
            background: #f5f5f5;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                color: #918c00;
                background: #e8e7d1;
            }
            &.active {
                color: #fff;
                background: #918c00;
            }
        }
    }
    .article_wrap {
        > div {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            &.tab2, &.tab3 {
                display: none;
            }
            > a {
                width: calc((100% - 60px) / 4);
                &:nth-child(n+5) {
                    margin-top: 60px;
                }
            }
            .box_list_btn {
                position: static;
                margin-top: 10px;
            }
            figure {
                overflow: hidden;
                &:hover img {
                    transform: scale(1.2);
                }
                img {
                    transition: 0.5s;
                }
            }
        }
    }
}
/* part4 */
.part4 {
    .article_wrap {
        justify-content: space-between;
        > a {
            width: 530px;
            > figure {
                position: relative;
                width: 100%;
                height: 400px;
                overflow: hidden;
                &:hover img {
                    transform: translate3d(-50%, -50%, 0) scale(1.2);
                }
                > img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    transition: all 0.8s;
                }
            }
        }
    }
}
/* part5 */
.part5 {
    .inner {
        overflow: hidden;
        padding: 0 20px;
    }
    .top_img {
        display: block;
        margin-bottom: 20px;
        &.fadein {
            animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
    }
    .part5_slide_wrap {
        overflow: visible;
        &.fadein {
            animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
        .swiper-wrapper {
            transition-timing-function: linear;
            figure {
                overflow: hidden;
                &:hover img {
                    transform: scale(1.2);
                }
                img {
                    transition: 0.5s;
                }
            }
        }
        .part5_arrow {
            position: absolute;
            top: 130px;
            width: 50px;
            height: 50px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            box-sizing: border-box;
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
            &::after {
                display: inline-block;
                margin-left: 6px;
                width: 12px;
                height: 12px;
                border: solid #1c1c1c;
                border-width: 0 0 2px 2px;
                transform: rotate(45deg);
                content: '';
            }
            &.right {
                right: -20px;
                transform: translateY(-50%) rotate(-180deg);
            }
            &.left {
                left: -20px;
            }
        }
        .box_list_btn {
            position: static;
            margin-top: 10px;
        }
    }
}
/* part6 */
.part6 {
    .review_slide_wrap {
        &.fadein {
            animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
        .swiper-slide > a {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            height: 100%;
            cursor: pointer;
            overflow: hidden;
            border-radius: 4px;
            background-color: white;
            border: 1px solid rgb(223, 228, 234);
            figure {
                width: 100%;
                object-fit: cover;
                position: relative;
                overflow: hidden;
                &:hover img {
                    transform: scale(1.2);
                }
                img {
                    transition: 0.5s;
                }
            }
            .custom_review {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: center;
                padding-left: 12px;
                padding-right: 12px;
                margin: 15px 0px;
                > span {
                    margin: 0px;
                    font-family: Pretendard;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.6;
                    letter-spacing: 0.028px;
                    text-align: start;
                    color: rgb(58, 64, 70);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                > time {
                    margin: 0px;
                    font-family: Pretendard;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.6;
                    letter-spacing: 0.072px;
                    text-align: start;
                    color: rgb(123, 132, 141);
                    font-size: 10px;
                }
            }
            .product_info {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 8px;
                gap: 8px;
                margin-bottom: 10px;
                > img {
                    object-fit: cover;
                    width: 32px;
                    height: 32px;
                    border-radius: 4px;
                    flex-shrink: 0;
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    overflow: hidden;
                    > span:nth-child(1) {
                        margin: 0px;
                        font-family: Pretendard;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 1.4;
                        letter-spacing: 0.072px;
                        text-align: start;
                        color: rgb(123, 132, 141);
                        cursor: pointer;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        width: 100%;
                    }
                    > span:nth-child(2) {
                        margin: 0px;
                        font-family: Pretendard;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1.6;
                        letter-spacing: 0.072px;
                        text-align: start;
                        color: rgb(123, 132, 141);
                    }
                }
            }
        }
        
    }
}
/* part7 */
.part7 {
    .tab_slide_wrap {
        display: flex;
        height: 397px;
        border: 1px solid #cdcdcd;
        overflow: hidden;
        &.fadein {
            animation: fadeInUp 0.9s both 1.3s cubic-bezier(0.22, 0.61, 0.87, 1.27);
        }
        .tab_list_wrap {
            display: flex;
            flex-wrap: wrap;
            padding-top: 0;
            width: 200px;
            height: auto;
            border: 0;
            border-right: 1px solid #cdcdcd;
            li {
                width: 100%;
                height: 79.5px;
                line-height: 79.5px;
                box-sizing: border-box;
                text-align: center;
                font-size: 22px;
                font-weight: normal;
                cursor: pointer;
                &.active {
                    font-weight: bold;
                    color: #fff;
                    background: #918c00;
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                }
                &:not(:first-child) {
                    border-top: 1px solid #cdcdcd;
                }
            }
        }
        .slide_wrap {
            width: calc(100% - 200px);
            background: #f5f5f5;
            .part7_slide_wrap {
                padding: 28px 22px 0;
                width: 690px;
                height: 368px;
                // white-space: nowrap;
                // box-sizing: border-box;
                .swiper-slide {
                    overflow: hidden;
                    border-radius: 20px;
                    position: relative;
                    // margin: 0 11.5px 0;
                    transition: all 0.5s;
                    // width: 230px !important;
                    height: 330px;
                    a {
                        display: block;
                        &::before {
                            position: absolute;
                            left: 20px;
                            top: 20px;
                            width: 75px;
                            height: 15px;
                            background: url('../img/slide_logo.png') no-repeat;
                            background-size: 100% auto;
                            content: '';
                            z-index: 1;
                        }
                        &::after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(0, 0, 0, 0.2);
                            content: '';
                            z-index: 0;
                        }
                        > .list_txt {
                            position: absolute;
                            left: 20px;
                            bottom: 60px;
                            width: 190px;
                            color: #fff;
                            z-index: 1;
                            .list_txt_sort {
                                display: inline-block;
                                margin-bottom: 10px;
                                padding: 0 10px;
                                line-height: 25px;
                                font-size: 15px;
                                color: #918c00;
                                background: #fff;
                                border-radius: 30px;
                                letter-spacing: -1px;
                            }
                            .list_txt_title {
                                display: block !important;
                                line-height: 1.3;
                                width: 99%;
                                font-size: 27px;
                                -webkit-box-orient: vertical;
                                display: block;
                                display: -webkit-box;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                word-break: break-all;
                                -webkit-line-clamp: 2;
                            }
                            .list_txt_desc {
                                display: block;
                                margin-top: 15px;
                                width: 99%;
                                line-height: 1.2;
                                font-size: 17px;
                                color: rgba(255, 255, 255, 0.7);
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
            .part7_arrow {
                position: absolute;
                top: 50%;
                box-sizing: border-box;
                transform: translateY(-50%);
                z-index: 1;
                cursor: pointer;
                width: 60px;
                height: 60px;
                background: rgba(0, 0, 0, 0.6);
                border-radius: 50%;
                &::after {
                    display: inline-block;
                    margin-left: 6px;
                    width: 12px;
                    height: 12px;
                    border: solid #fff;
                    border-width: 0 0 2px 2px;
                    transform: rotate(45deg);
                    content: '';
                }
                &.right {
                    right: 0;
                    transform: translateY(-50%) rotate(-180deg);
                }
                &.left {
                    left: 0;
                }
            }
        }
    }
}

/* part8 */
.part8 {
    .inner {
        display: flex;
        justify-content: space-between;
        .recommand {
            > a {
                .ico_arrow {
                    margin-top: 29px;
                }
                &::before {
                    display: inline-block;
                    width: 90px;
                    height: 90px;
                    box-sizing: border-box;
                    background: #fff url('../img/logo_ft.png') no-repeat center center;
                    background-size: 76px auto;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    vertical-align: middle;
                    content: '';
                }
            }
        }
        .tv_area_txt {
            margin: 0;
            dt {
                display: block;
                margin-bottom: 15px;
                width: 400px;
                height: 26px;
                font-size: 23px;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            dd {
                margin: 0;
                width: 400px;
                height: 120px;
                line-height: 30px;
                font-size: 20px;
                color: #888;
            }
        }
        .subscribe {
            display: block;
            margin-top: 40px;
            width: 400px;
            font-size: 20px;
            color: #fff;
            height: 60px;
            line-height: 58px;
            text-align: center;
            background: #d2211f;
            transition: all 1s 1.5s ease;
            i {
                display: inline-block;
                width: 28px;
                &::after {
                    display: inline-block;
                    margin: -4px 0 0 20px;
                    width: 6px;
                    height: 6px;
                    vertical-align: middle;
                    border: solid #fff;
                    border-width: 2px 2px 0 0;
                    transform: rotate(45deg);
                    content: '';
                }
            }
        }
    }
} 
/* notice */
.notice {
    background: #918c00;
    margin-top: 100px;
    .inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .notice_h3 {
            position: relative;
            white-space: nowrap;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.85);
            &::after {
                position: absolute;
                top: 3px;
                right: -16px;
                width: 2px;
                height: 12px;
                background: #fff;
                content: "";
                vertical-align: middle;
            }
        }
        .notice_wrap {
            width: 100%;
            height: 60px;
            line-height: 60px;
            .swiper-wrapper {
                transition-timing-function: linear;
                .swiper-slide {
                    > a {
                        font-size: 16px;
                        color: #fff;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        .notice_btn {
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.85);
            transform: translateY(-50%);
        }
    }
}
/* footer */
.page_footer {
    background: #F9F9F9;
    padding: 40px 0 70px;
    .inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .pf_left {
            width: 490px;
            nav {
                display: flex;
                gap: 30px;
                > a {
                    position: relative;
                    display: block;
                    font-size: 17px;
                    color: #1c1c1c;
                        &:not(:last-child):before {
                            display: block;
                            position: absolute;
                            top: 2px;
                            right: -15px;
                            width: 1px;
                            height: 18px;
                            font-size: 18px;
                            background: #ccc;
                            content: "";
                        }
                        &.bold {
                            font-weight: 600;
                        }
                    }
            }
            .support {
                margin: 34px 0 25px;
                .support_title {
                    line-height: 30px;
                    font-size: 22px;
                    font-weight: 600;
                    color: #1c1c1c;
                }
                .support_tel {
                    display: block;
                    margin: 5px 0 15px;
                    font-size: 32px;
                    font-weight: 700;
                    color: #918c00;
                }
                .support_desc {
                    line-height: 29px;
                    font-size: 16px;
                    color: #888;
                }
            }
            .sns {
                margin-bottom: 25px;
                overflow: hidden;
                display: flex;
                gap: 20px;
                a {
                    display: block;
                    position: relative;
                    width: 50px;
                    height: 50px;
                    font-size: 0;
                    &.insta {
                        background: url('../img/sns_icon.png') no-repeat;
                        background-position-y: -160px;
                    }
                    &.youtube {
                        background: url('../img/sns_icon.png') no-repeat -50px;
                        background-position-y: -160px;
                    }
                    &.blog {
                        background: url('../img/sns_icon.png') no-repeat -100px;
                        background-position-y: -160px;
                    }
                    &.kakao {
                        background: url('../img/sns_icon.png') no-repeat -150px;
                        background-position-y: -160px;
                    }
                }
            }
            .copyright {
                font-size: 14px;
                color: #aaa;
                font-style: normal;
            }
        }
    
        .pf_right {
            width: calc(100% - 490px);
            .company {
                letter-spacing: -0.03em;
                .company_name {
                    display: block;
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: 600;
                    color: #1c1c1c;
                }
                .company_info {
                    line-height: 27px;
                    font-size: 15px;
                    color: #888;
                    p {
                        margin: 15px 0;
                    }
                }
            }
            .confirm {
                display: flex;
                gap: 10px;
                margin-top: 15px;
            }
        }
    }
}
