@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
a {
  text-decoration: none;
  color: #1c1c1c;
}

img {
  width: 100%;
  vertical-align: middle;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.menu {
  text-align: right;
}
.menu a {
  position: relative;
  display: inline-block;
  line-height: 45px;
  font-size: 14px;
  margin-left: 30px;
}
.menu a:not(:nth-child(1))::after {
  position: absolute;
  left: -15px;
  top: 50%;
  margin-top: -7.5px;
  width: 1px;
  height: 15px;
  background: #888;
  content: "";
}
.menu a i {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 2px;
  vertical-align: middle;
}
.menu a i::after {
  position: absolute;
  top: -2px;
  right: 0px;
  width: 0;
  height: 0;
  content: "";
  border: 4px solid transparent;
  border-color: #1c1c1c transparent transparent transparent;
}

.mainMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 36px 39px 35px 0;
  font-size: 0;
}

.choice {
  display: flex;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background: #eaeaea;
}
.choice a {
  position: relative;
  width: 50%;
  line-height: 50px;
  font-size: 20px;
  color: #929292;
  text-align: center;
}
.choice a.on {
  width: 55%;
  font-weight: bold;
  color: #fff;
  background: #918c00;
  border-radius: 25px;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
}

.search {
  position: relative;
  margin-right: 22px;
  width: 390px;
  height: 55px;
  line-height: 55px;
  vertical-align: bottom;
  border: 1px solid #b2ac00;
  border-radius: 15px;
  text-indent: 20px;
  text-align: left;
  box-sizing: border-box;
}
.search input {
  line-height: 30px;
  width: 70%;
  border: 0;
  font-size: 18px;
  background: transparent;
}

.search_btn {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 55px;
  height: 55px;
  font-size: 0;
  background: url("../img/icon_header_search.png") no-repeat center;
}

.cart {
  position: relative;
  margin: -2px 0 0 23px;
  vertical-align: bottom;
}

.deliver {
  width: 142px;
  border: 1px solid #b1a8a8;
  border-radius: 14px;
  text-align: center;
  padding: 6px 0px;
  font-size: 14px;
}

.mainHeadMenuArea {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 23px;
}

.menu_wrap {
  display: none;
}

.all_menu button {
  display: flex;
  align-items: center;
}

.ham_icon span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #1c1c1c;
  margin-right: 15px;
  margin-bottom: 5px;
}
.ham_icon span:last-child {
  margin-bottom: 0;
}

.main_tab {
  font-size: 20px;
  white-space: nowrap;
}

.gnb {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  width: 73%;
}
.gnb a {
  font-size: 20px;
}

.main_banner_wrap {
  position: relative;
}
.main_banner_wrap .swiper-wrapper {
  transition-timing-function: linear;
}
.main_banner_wrap:hover .arrow {
  visibility: visible;
  opacity: 1;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 55px;
  font-size: 0;
  visibility: hidden;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.arrow.left {
  left: 12%;
}
.arrow.right {
  right: 12%;
}
.arrow::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow.left::after {
  margin-left: 5px;
  border-width: 0 0 2px 2px;
}
.arrow.right::after {
  margin-left: -5px;
  border-width: 2px 2px 0 0;
}

/* part1 */
.article_wrap {
  display: flex;
}

.topic {
  display: block;
  margin-bottom: 6px;
  font-size: 21px;
  color: #888;
}

.recommand {
  position: relative;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 600;
}

.ico_sale {
  display: inline-block;
  margin-top: 0;
  padding: 4px 7px;
  font-size: 15px;
  font-style: inherit;
  background: #f83737;
  color: #fff;
  border: 2px solid #1c1c1c;
  border-radius: 30px;
  vertical-align: top;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: saleMotion 0.4s ease-out 0s infinite alternate;
}

@keyframes saleMotion {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 7px;
  }
}
.ico_arrow {
  display: inline-block;
  margin: 6px 0 0 5px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  font-size: 0;
  text-indent: -999em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: top;
}
.ico_arrow::before {
  display: inline-block;
  margin: 2px 0 0 -2px;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: solid #1c1c1c;
  border-width: 2px 2px 0 0;
  content: "";
  transform: rotate(45deg);
}

.item-area {
  height: 670px;
}

.item_list {
  height: 670px;
}
.item_list .swiper-wrapper {
  transition-timing-function: linear;
}
.item_list .swiper-pagination-bullets.item_list_nav1 {
  display: flex;
  left: 20px;
  top: 96%;
}
.item_list .swiper-pagination-bullets.item_list_nav1 span {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.item_list .swiper-pagination-bullets.item_list_nav1 .swiper-pagination-bullet-active {
  width: 25px;
  background: #918c00;
}

.slide_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.img_wrap {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.img_wrap.img_wrap_L img {
  width: 530px;
}
.explain {
  margin: 15px 0 10px;
  white-space: nowrap;
}
.explain.rt {
  margin: 0 0 10px;
}
.explain.rt span:nth-child(2) {
  margin-top: 2px;
}
.explain span:nth-child(1) {
  font-size: 20px;
  display: block;
  max-height: 24px;
  font-size: 18px;
  color: #999;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.explain span:nth-child(2) {
  margin-top: 5px;
  font-size: 23px;
  display: block;
  max-height: 60px;
  line-height: 1.3;
  font-size: 21px;
  font-weight: 700;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
}

.ex_wrap {
  padding-left: 20px;
}

.box_list_info {
  position: relative;
}

.price_wrap {
  display: block;
  min-height: 41px;
  font-size: 16px;
}

.discount_per {
  margin-right: 5px;
  font-size: 30px;
  font-weight: 600;
  color: #ea1111;
}

.none_price {
  font-size: 24px;
}
.none_price strong {
  font-size: 30px;
}

.discount_price {
  font-size: 21px;
  margin: 0px 0 5px 10px;
  color: #999;
}
.discount_price.db {
  display: block;
  margin: 0 0 5px 0;
}

.box_list_btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.box_list_btn button {
  font-size: 0;
}
.box_list_btn button::before {
  display: block;
  margin: 0 auto;
  width: 56px;
  height: 56px;
  background: url("../img/icon_item_btn.png") no-repeat;
  border: 1px solid #efefef;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.box_list_btn button:nth-child(1) {
  margin-right: 10px;
}
.box_list_btn button:nth-child(1)::before {
  background-position-x: 0px;
}
.box_list_btn button:nth-child(2)::before {
  background-position-x: -56px;
}

/* mid_banner */
.mid_banner_slide_wrap .swiper-pagination-bullets.mid_banner_nav span {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0 10px 0 0;
}
.mid_banner_slide_wrap .swiper-pagination-bullets.mid_banner_nav .swiper-pagination-bullet-active {
  width: 25px;
  background: #918c00;
}

/* part2 */
.part2 .article_wrap {
  flex-wrap: wrap;
  justify-content: space-between;
}
.part2 .article_wrap > a {
  width: calc(25% - 15px);
}
.part2 .article_wrap > a:nth-child(n+5) {
  margin-top: 60px;
}
.part2 .article_wrap .box_list_btn {
  position: static;
  margin-top: 10px;
}

.ico_cook {
  display: inline-block;
}

/* part3 */
.part3 .early_choice {
  display: flex;
  margin: 30px 0 30px;
  gap: 10px;
}
.part3 .early_choice li {
  display: block;
  padding: 15px 20px;
  font-size: 18px;
  color: #1c1c1c;
  border-radius: 25px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 0.5s;
}
.part3 .early_choice li:hover {
  color: #918c00;
  background: #e8e7d1;
}
.part3 .early_choice li.active {
  color: #fff;
  background: #918c00;
}
.part3 .article_wrap > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.part3 .article_wrap > div.tab2, .part3 .article_wrap > div.tab3 {
  display: none;
}
.part3 .article_wrap > div > a {
  width: calc((100% - 60px) / 4);
}
.part3 .article_wrap > div > a:nth-child(n+5) {
  margin-top: 60px;
}
.part3 .article_wrap > div .box_list_btn {
  position: static;
  margin-top: 10px;
}

/* part4 */
.part4 .article_wrap {
  justify-content: space-between;
}
.part4 .article_wrap > a {
  width: 530px;
}
.part4 .article_wrap > a > figure {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.part4 .article_wrap > a > figure > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: all 0.8s;
}

/* part5 */
.part5 .inner {
  overflow: hidden;
  padding: 0 20px;
}
.part5 .top_img {
  display: block;
  margin-bottom: 20px;
}
.part5 .part5_slide_wrap {
  overflow: visible;
}
.part5 .part5_slide_wrap .swiper-wrapper {
  transition-timing-function: linear;
}
.part5 .part5_slide_wrap .part5_arrow {
  position: absolute;
  top: 130px;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.part5 .part5_slide_wrap .part5_arrow::after {
  display: inline-block;
  margin-left: 6px;
  width: 12px;
  height: 12px;
  border: solid #1c1c1c;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg);
  content: "";
}
.part5 .part5_slide_wrap .part5_arrow.right {
  right: -20px;
  transform: translateY(-50%) rotate(-180deg);
}
.part5 .part5_slide_wrap .part5_arrow.left {
  left: -20px;
}
.part5 .part5_slide_wrap .box_list_btn {
  position: static;
  margin-top: 10px;
}

/* part6 */
.part6 .review_slide_wrap .swiper-slide > a {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  border: 1px solid rgb(223, 228, 234);
}
.part6 .review_slide_wrap .swiper-slide > a figure {
  width: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
.part6 .review_slide_wrap .swiper-slide > a .custom_review {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  margin: 15px 0px;
}
.part6 .review_slide_wrap .swiper-slide > a .custom_review > span {
  margin: 0px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0.028px;
  text-align: start;
  color: rgb(58, 64, 70);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.part6 .review_slide_wrap .swiper-slide > a .custom_review > time {
  margin: 0px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.072px;
  text-align: start;
  color: rgb(123, 132, 141);
  font-size: 10px;
}
.part6 .review_slide_wrap .swiper-slide > a .product_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  margin-bottom: 10px;
}
.part6 .review_slide_wrap .swiper-slide > a .product_info > img {
  object-fit: cover;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  flex-shrink: 0;
}
.part6 .review_slide_wrap .swiper-slide > a .product_info > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
}
.part6 .review_slide_wrap .swiper-slide > a .product_info > div > span:nth-child(1) {
  margin: 0px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.072px;
  text-align: start;
  color: rgb(123, 132, 141);
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.part6 .review_slide_wrap .swiper-slide > a .product_info > div > span:nth-child(2) {
  margin: 0px;
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.072px;
  text-align: start;
  color: rgb(123, 132, 141);
}

/* part7 */
.part7 .tab_slide_wrap {
  display: flex;
  height: 397px;
  border: 1px solid #cdcdcd;
  overflow: hidden;
}
.part7 .tab_slide_wrap .tab_list_wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  width: 200px;
  height: auto;
  border: 0;
  border-right: 1px solid #cdcdcd;
}
.part7 .tab_slide_wrap .tab_list_wrap li {
  width: 100%;
  height: 79.5px;
  line-height: 79.5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  cursor: pointer;
}
.part7 .tab_slide_wrap .tab_list_wrap li.active {
  font-weight: bold;
  color: #fff;
  background: #918c00;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.part7 .tab_slide_wrap .tab_list_wrap li:not(:first-child) {
  border-top: 1px solid #cdcdcd;
}
.part7 .tab_slide_wrap .slide_wrap {
  width: calc(100% - 200px);
  background: #f5f5f5;
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap {
  padding: 28px 34px 0;
  width: 828px;
  height: 368px;
  white-space: nowrap;
  box-sizing: border-box;
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .swiper-slide {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin: 0 11.5px 0;
  transition: all 0.5s;
  width: 230px !important;
  height: 340px;
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .swiper-slide a {
  display: block;
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .part7_arrow {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .part7_arrow::after {
  display: inline-block;
  margin-left: 6px;
  width: 12px;
  height: 12px;
  border: solid #fff;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg);
  content: "";
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .part7_arrow.right {
  right: 0;
  transform: translateY(-50%) rotate(-180deg);
}
.part7 .tab_slide_wrap .slide_wrap .part7_slide_wrap .part7_arrow.left {
  left: 0;
}

/* part8 */
.part8 .inner {
  display: flex;
  justify-content: space-between;
}
.part8 .inner .recommand > a .ico_arrow {
  margin-top: 29px;
}
.part8 .inner .recommand > a::before {
  display: inline-block;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  background: #fff url("../img/logo_ft.png") no-repeat center center;
  background-size: 76px auto;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  content: "";
}
.part8 .inner .tv_area_txt {
  margin: 0;
}
.part8 .inner .tv_area_txt dt {
  display: block;
  margin-bottom: 15px;
  width: 400px;
  height: 26px;
  font-size: 23px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.part8 .inner .tv_area_txt dd {
  margin: 0;
  width: 400px;
  height: 120px;
  line-height: 30px;
  font-size: 20px;
  color: #888;
}
.part8 .inner .subscribe {
  display: block;
  margin-top: 40px;
  width: 400px;
  font-size: 20px;
  color: #fff;
  height: 60px;
  line-height: 58px;
  text-align: center;
  background: #d2211f;
  transition: all 1s 1.5s ease;
}
.part8 .inner .subscribe i {
  display: inline-block;
  width: 28px;
}
.part8 .inner .subscribe i::after {
  display: inline-block;
  margin: -4px 0 0 20px;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  content: "";
}

/* notice */
.notice {
  background: #918c00;
  margin-top: 100px;
}
.notice .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.notice .inner .notice_h3 {
  position: relative;
  white-space: nowrap;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.85);
}
.notice .inner .notice_h3::after {
  position: absolute;
  top: 3px;
  right: -16px;
  width: 2px;
  height: 12px;
  background: #fff;
  content: "";
  vertical-align: middle;
}
.notice .inner .notice_wrap {
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.notice .inner .notice_wrap .swiper-wrapper {
  transition-timing-function: linear;
}
.notice .inner .notice_wrap .swiper-wrapper .swiper-slide > a {
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice .inner .notice_btn {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  transform: translateY(-50%);
}