// 디바이스 별
$breakpoint-mobile: 480px;
$breakpoint-tablet: 860px;
$breakpoint-desktop: 1024px;

// 색상 변수
$white: rgb(246, 246, 246);
$black: #000;
$gray: #666;
$heavy_gray: #2b2f37;
$red: rgb(255, 69, 0);
$oranged: rgb(255, 165, 0);